<html>
	<head>Welcome to DevOps!</head>
	<body>
		<h1>Hostname is {{ansible_hostname}}</h1>
		<h1>Provisioned by {{provisioner_tool}}</h1>
		<h1>Configured by {{automation_tool}}</h1>
	</body>
</html>
